h1 {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    color: red;
  }
  
  h2 {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    color: red;
  }
  
  h3 {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    color: red;
  }
  
  body {
    font-size: 10pt;
  }